{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "semi": true,
  "parser": "typescript",
  "overrides": [
    {
      "files": ["*.json", ".*rc"],
      "options": {
        "parser": "json",
        "singleQuote": false
      }
    }
  ]
}
